body {
  background-color: #F6FCFF;
  background-image: url("../images/main_bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
.character {
  width: 100%;
  max-width: 364px;
  margin-bottom: 40px;
}